:root {
    --colorMainText: #232323;
    --colorBlue: #0E204E;
    --colorBlueHover: #143471FF;
    --colorWhite: #FFFFFF;
    --fontFamylyManrope: "Manrope", sans-serif;
    --fontFamylyPlayfairDisplay: "Playfair Display", sans-serif;
    --fontFamylyLato: "Lato", sans-serif;
}

body {
    font-family: var(--fontFamylyManrope);
    font-size: 20px;
    font-weight: 400;
    color: var(--colorMainText);
}

*,
:before,
:after {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--colorMainText);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

/*Header
===============================*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px 0;
}

.header__companyName {
    width: 148px;
    font-family: var(--fontFamylyPlayfairDisplay);
    font-size: 32px;
    font-weight: 700;
    color: var(--colorBlue);
}

.header__nav {
    display: flex;
    justify-content: space-around;
}

.nav__item {
    font-weight: 500;
    margin-left: 92px;
    transition: .2s linear;
}

.nav__item:hover {
    opacity: .7;
}

.nav__item:first-child {
    margin-left: 0;

}

.header__burger {
    display: none;
}

.header__btn {
    padding: 11px 36px;
    color: var(--colorWhite);
    background-color: var(--colorBlue);
    transition: background-color .2s linear;
}

.header__btn:hover {
    background-color: var(--colorBlueHover);
}

/*Intro
=================================*/

.intro {
    display: flex;
    position: relative;
    justify-content: end;
    margin-top: 32px;
}

.intro__container {
    position: absolute;
    top: 125px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 786px;
    margin-left: 100px;
    padding: 80px 42px 64px 89px ;
    background-color: var(--colorBlue);
}

.intro__title {
    max-width: 643px;
    font-family: var(--fontFamylyPlayfairDisplay);
    font-weight: 700;
    font-size: 64px;
    color: var(--colorWhite);
}

.intro__subtitle {
    max-width: 643px;
    margin-top: 34px;
    color: var(--colorWhite);
}

.intro__btn {
    display: none;
}

.img__item {
    display: flex;
    height: 717px;
    max-width: 1360px;
    background: url("img/intro.png") center no-repeat;
    background-size: cover;

}


/*Media
=================================*/

@media (max-width: 1100px) {

    /*Header
    ===============================*/

    header {
        margin: 50px 20px 0;
    }

    .nav__item {
        margin-left: 40px;
    }

    /*Intro
   ===============================*/

    .intro__container {
        margin-left: 20px;
    }
}

@media (max-width: 790px) {

    /*Header
    ===============================*/

    header {
        margin: 50px 20px 0;
    }

    .header__nav {
        display: none;
    }

    .header__burger {
        display: flex;
        width: 24px;
        height: 24px;
    }

    .header__icon {
        fill: var(--colorBlue);
    }

    .header__btn {
        display: none;
    }

    /*Intro
   ===============================*/

    .intro {
        display: block;
    }

    .intro__container {
        position: static;
        padding: 0;
        margin: 0 20px;
        min-height: 673px;
        background: url("img/mobile_intro.png") center no-repeat;
        background-size: cover;
    }

    .intro__title {
        text-align: center;
        font-size: 28px;
        color: var(--colorWhite);
    }

    .intro__subtitle {
        font-size: 16px;
        align-items: center;
        text-align: center;
        margin-top: 24px;
        padding: 5px;
    }

    .intro__btn {
        display: block;
        font-family: var(--fontFamylyLato);
        font-weight: 500;
        margin-top: 37px;
        padding: 11px 19px;
        border-radius: 5px;
        background-color: var(--colorWhite);
    }

    .img__item {
        display: none;
    }
}
